@use "../../../variables" as v;

.nav {
  padding: 0px v.$def_pading;
}

.fea {
  display: flex;
  align-items: center;
}

.midNav {
  display: flex;
  align-items: center;
}

.utilities {
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  width: 100%;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: var(--main-bg);
  padding: 14px 24px;
  margin: 10px 40px;
  min-width: 658px;
}
.input {
  border: none;
  background-color: transparent;
  width: 100%;
}

input:focus {
  outline: none;
}

.button {
  border: none;
  background-color: none;
  font-size: 32px;
  color: var(--main-gray1);
}

.button:hover {
}

.bottomNav {
  display: flex;
  justify-content: space-around;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 16px;
}

@media (max-width: 860px) {
  .nav {
    padding: 0px v.$mobile_pading;
  }
}
