@use "../../variables" as v;

.hero{
    background-image: url(./imgs/hero.webp);
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    background-size: cover;
    width:100vw;
    height:490px;
    display: flex;
    align-items:center;
    margin-bottom: 60px;
    position: relative;
    z-index: -1; 
    background-blend-mode: darken;
}

.hero::after{
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
}

.title{
    font-weight: v.$semi_bold;
    font-size: 48px;
}

.subtitle{
    font-weight: v.$semi_bold;
    font-size: 36px;
}

.container{
    display:flex;
    flex-direction: column;
    padding: 0px v.$def_pading;
    margin-left: 144px;
}


.buttonHero{
    border:none;
    border-radius: 5px;
    background-color:v.$rosa_primario;
    color:white;
    font-weight: v.$semi_bold;
    padding: 10px 20px;
    width:230px;
    cursor:pointer;
}

.buttonHero:hover{
   //s background-color:v.$rosa_sucundario;
    background-color:black;
}