@use "../../../../variables" as v;

.cardContainer {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 20px;
}

.containerImg {
  background-color: #f4f4f4;
  border-radius: 10px;
  // box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.13);
  width: 128px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContainer:hover > .containerImg {
  background-color: v.$rosa_primario;
}

.cardContainer:hover > .p {
  text-decoration: underline;
}

p {
  margin-top: 20px;
  color: #4e4e4e;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
