$rosa_primario: #f71963;
$rosa_sucundario: #680b2a;
$rosa_secundario: #680b2a;
$red_1: #f71963;
$gray_1: #f0f0f0;
$gray_2: #9f9f9f;

$def_pading: 40px;
$mobile_pading: 20px;

$semi_bold: 600;
$medium_bold: 500;
$bold: 700;
