@use "./variables" as v;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins";
}

// a {
//   display: flex;
//   text-align: center;
//   fill: white;
// }

input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: v.$gray_3;
}

a:hover {
  text-decoration: underline;
  color: v.$rosa_primario;
}
